<%- include('header.ejs', {titleDual:{ top: 'Ground' , bottom: 'View' }, hasTime: true}) %>
<div class="main has-box ground-view">
  <div class="ground-view-media hidden">
    <img class="ground-view-image" src="" alt="" />
  </div>
  <div class="ground-view-label hidden"></div>
  <div class="ground-view-empty hidden"></div>
</div>
