<div class="header">
  <div class="logo">
    <img class="theme-logo" src="images/logos/logo-corner.png" />
  </div>
  <div class="title dual">
    <div class="top">Hazard</div>
    <div class="bottom">List</div>
  </div>
  <div class="date-time date"></div>
  <div class="date-time time"></div>
</div>
<div class="main has-scroll hazard-list">
  <div class="column-headers">
    <div class="location">LOCATION</div>
    <div class="hazard">HAZARD</div>
    <div class="date">DATE</div>
    <div class="ongoing">ONGOING</div>
  </div>
  <div class="hazard-list-rows">
    <div class="hazard-list-row template">
      <div class="location"></div>
      <div class="hazard"></div>
      <div class="date"></div>
      <div class="ongoing"></div>
    </div>
  </div>
</div>
