<div class="header">
  <div class="logo">
    <img class="theme-logo" src="images/logos/logo-corner.png" />
  </div>
  <div class="title dual">
    <div class="top">Latest</div>
    <div class="bottom">Observations</div>
  </div>
  <div class="date-time date"></div>
  <div class="date-time time"></div>
</div>
<div class="main has-scroll latest-observations">
  <div class="column-headers">
    <div class="city">CITY</div>
    <div class="temp">TEMP</div>
    <div class="conditions">CONDITIONS</div>
    <div class="wind">WIND</div>
  </div>
  <div class="observation-lines">
    <div class="observation-row template">
      <div class="city"></div>
      <div class="temp"></div>
      <div class="conditions"></div>
      <div class="wind"></div>
    </div>
  </div>
</div>
