<%- include('header.ejs', {titleDual:{ top: 'Linux News' , bottom: 'LWN' }, hasTime: true}) %>
<div class="main has-scroll has-box linux-news">
  <div class="container">
    <div class="news-output"></div>
  </div>
</div>
