<%- include('header.ejs', {titleDual:{ top: 'Regional' , bottom: 'Observations' }, hasTime: true }) %>
<div class="main has-scroll regional-forecast">
	<div class="map">
		<div class="leaflet-map"></div>
	</div>
</div>
