<%- include('header.ejs', {title: 'Server Observations', hasTime: true}) %>
<div class="main has-scroll server-observations has-box">
  <div class="container">
    <div class="server-output"></div>
  </div>
</div>
